:host .header{
    background-color: lightgrey;
    position: fixed;
    top:0;
    left:0;
    display:inline-block;
    width:100%;
    height:50px;
    border-bottom: 1px solid darkgrey;
    z-index: 99999;
}
:host .logo {
    position: fixed;
    top: 0px;
    left: 20px;
}
:host .title{
    position: fixed;
    top: 0px;
    left: 85px;
    color: rgb(18, 118, 149);
    font-size: 36px;
}
:host .main-page {
    position: absolute;
    top: 50px;
    left: 0px;
    margin: 10px 5px 5px 10px;
/*    height: 800px;*/
    overflow-y: auto;
}

.image {
    display: block;
    align-content: center;
    margin:auto;
    height:50%;
}
.deal {
    display: inline-table;
    margin: 10px;
    /*    padding:10px 5px 5px 5px;*/
    width: 200px;
    height: 240px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 90;
    font-family: Helvetica;
}

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}



.ribbon {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
    content: "";
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}
.starting {
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
    font-size: 0.8em;
}

.closing {
    background-color: #eaaa43;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eaaa43), to(#8EBF45)); 
    background-image: -webkit-linear-gradient(top, #eaaa43, #ea7c2c); 
    background-image:    -moz-linear-gradient(top, #eaaa43, #ea7c2c); 
    background-image:     -ms-linear-gradient(top, #eaaa43, #ea7c2c); 
    background-image:      -o-linear-gradient(top, #eaaa43, #ea7c2c); 
}
.closed {
    background-color: #bf0e15;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bf0e15), to(#8EBF45)); 
    background-image: -webkit-linear-gradient(top, #bf0e15, #cc0a28); 
    background-image:    -moz-linear-gradient(top, #bf0e15, #cc0a28); 
    background-image:     -ms-linear-gradient(top, #bf0e15, #cc0a28); 
    background-image:      -o-linear-gradient(top, #bf0e15, #cc0a28); 
    color: #fff;
}

.starting:before, .starting:after {
    border-top:   3px solid #6e8900;   
}
.closing:before, .closing:after {
    border-top:   3px solid #9a690e;   
}
.closed:before, .closed:after {
    border-top:   3px solid #9d0c33;   
}

.ribbon:before {
    left: 0;
}
.ribbon:after {
    right: 0;
}
.name {
    margin:0px;
    width:100%;
    text-align: center;
    background-color: lightgray;
    border-top: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
}
.description {
    font-size:0.8em;
    color:#585a56;
    margin:5px 10px 5px 10px;
    word-wrap: break-word;
    height:45px;
}
.price-wrapper {
    position:absolute;
    bottom:5px;
    width:100%;
    text-align: center;
}
.price {
    background-color: #4d509c;
    border: 1px solid #ba8def;
    border-radius: 4px;
    color:#fff;
}
:host .progress {
    height:10px;
    margin-bottom:5px;
}
:host .progress-STARTING {
    background-color: #BFDC7A;
}
:host .progress-STARTED {
    background-color: #BFDC7A;
}
:host .progress-CLOSING {
    background-color: #eaaa43;
}
:host .progress-CLOSED {
    background-color: #bf0e15;
}
:host .trafficlight{
    display:inline;
    float:right;
    margin-right:20px;
    margin-top:10px;
}
:host .trafficlight .heading{
    color: rgb(18, 118, 149);
    vertical-align: middle;
    display:inline-block;
    height:40px;
}

:host .light{
    display:inline-block;
    background-size: 5px 5px; 
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

:host .red{
    background: red;
    background-image: radial-gradient(brown, transparent);
    border: dotted 2px orange;
    box-shadow: 
        0 0 5px #111 inset,
        0 0 2px red;
}

:host .yellow{
    background: yellow;
    background-image: radial-gradient(orange, transparent);
    border: dotted 2px yellow;
    box-shadow: 
        0 0 5px #111 inset,
        0 0 2px yellow;
}

:host .green{
    background: green;
    background-image: radial-gradient(lime, transparent);
    border: dotted 2px lime;
    box-shadow: 
        0 0 5px #111 inset,
        0 0 2px lime;
}