<div class="clock">
    <div *ngIf="updateTime()" class="title">{{title}}</div>
    <svg  width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="-50 -50 100 100">

    <svg:defs>
        <svg:g id="clockface">
            <svg:circle cx="0" cy="0" r="49" />

            <svg:g id="mark-minute">
                <line x1="0" y1="-44" x2="0" y2="-47" />
            </svg:g>
            <svg:g id="marks5">
                <svg:use xlink:href="#mark-minute" transform="rotate(0)" />
                <svg:use xlink:href="#mark-minute" transform="rotate(6)" />
                <svg:use xlink:href="#mark-minute" transform="rotate(12)" />
                <svg:use xlink:href="#mark-minute" transform="rotate(18)" />
                <svg:use xlink:href="#mark-minute" transform="rotate(24)" />
            </svg:g>

            <svg:use xlink:href="#marks5" transform="rotate(30)" />
            <svg:use xlink:href="#marks5" transform="rotate(60)" />
            <svg:use xlink:href="#marks5" transform="rotate(90)" />
            <svg:use xlink:href="#marks5" transform="rotate(120)" />
            <svg:use xlink:href="#marks5" transform="rotate(150)" />
            <svg:use xlink:href="#marks5" transform="rotate(180)" />
            <svg:use xlink:href="#marks5" transform="rotate(210)" />
            <svg:use xlink:href="#marks5" transform="rotate(240)" />
            <svg:use xlink:href="#marks5" transform="rotate(270)" />
            <svg:use xlink:href="#marks5" transform="rotate(300)" />
            <svg:use xlink:href="#marks5" transform="rotate(330)" />

            <svg:g id="date-display">
                <svg:rect x="23" y="-4" width="8" height="7.5" />
                <svg:text id="date-value" x="27" y="1.8" text-anchor="middle">00</svg:text>
            </svg:g>
        </svg:g>

        <svg:g id="hand">
            <svg:line x1="0" y1="0" x2="0" y2="-40" />
            <svg:circle cx="0" cy="0" r="2" />
        </svg:g>
    </svg:defs>

    <svg:use xlink:href="#clockface" />

    <svg:g id="offset-hours">
        <svg:use id="hour-hand"   xlink:href="#hand" />
    </svg:g>
    <svg:g id="offset-minutes">
        <svg:use id="minute-hand" xlink:href="#hand" />
    </svg:g>
    <svg:g id="offset-seconds">
        <svg:use id="second-hand" xlink:href="#hand" />
    </svg:g>

    </svg>
</div>