svg#clock {
    display: block;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-weight: bold;
}

#clockface {
    fill: #b5b1b3;
}
#marks5 use {
    stroke: #444;
    stroke-width: 1;
}
#marks5 use:first-child {
    stroke: #FFF;
}
#date-display rect {
    stroke: #444;
    stroke-width: 1;
}
#date-display text {
    fill: #444;
    font-size: 0.35em;
}

#hand line, #mark-minute {
    stroke-linecap: round;
}

#hand {
    fill: #FFF;
    stroke: #FFF;
}
#hour-hand {
    stroke-width: 4;
    transform: scale(0.6);
}
#minute-hand {
    stroke-width: 2;
}
#second-hand {
    stroke-width: 1;
    transform: scale(1.1);
}
