svg {
  width: 475px;
  height: 280px;
}

.z-underline {
  stroke: #bada55;    
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  fill: none;
}

.line1 {
  stroke-width: 2;
}

.line2 {
  stroke-width: 2;
}

.line3 {
  stroke-width: 1;
}
