<div class="tool-bar">
    <div class="btn-group">
        <!--        <a class="btn  btn-toolbar" href="#" uiSref="room" uiSrefActive="active">
                    <i class="fa fa-align-left" title="Align Left" ></i>
                </a>-->
        <a class="btn btn-toolbar" href="#" uiSref="home.rules" uiSrefActive="active">
            <i class="fa fa-search" title="Rules"></i>
        </a>
        <a class="btn btn-toolbar" href="#" uiSref="find-user" uiSrefActive="active">
            <i class="fa fa-address-book" title="Find User"></i>
        </a>
        <a class="btn btn-toolbar" href="#">
            <i class="fa fa-user-plus" title="Add User"></i>
        </a>
    </div>
</div>
<!--<div *ngFor="let key of getKeys(data)">
    <element-controller [tag]="key" [data]="data[key]"></element-controller>
</div>-->

<div  class="list-group-item"  >
    <i [className]="getToggleSectionIcon('info')"  aria-hidden="true"></i>
    <div class="items-header"  (click)="toggleSection('info',$event)"> {{ 'Information' }}
    </div>
    <div class="item-wrapper"  *ngIf="isSectionOpen('info')">
        <div class="item" *ngFor="let key of getKeys(data.info)" (click)="onInfoClick(key,$event)">
             <i class="fa fa-info"  aria-hidden="true"></i>
            <div class="item-name">{{data.info[key].name}}</div>
        </div>
    </div>
</div>

<div  class="list-group-item"  >
    <i [className]="getToggleSectionIcon('rooms')"  aria-hidden="true"></i>
    <div class="items-header"  (click)="toggleSection('rooms',$event)"> {{ 'By Room' }}
    </div>
    <div class="item-wrapper"  *ngIf="isSectionOpen('rooms')">
        <div class="item" *ngFor="let location of byLocation" (click)="onLocationClick(location,$event)">
             <i class="fa fa-bed"  aria-hidden="true"></i>
            <div class="item-name">{{location.name}}</div>
        </div>
    </div>
</div>

<div  class="list-group-item"  >
    <i [className]="getToggleSectionIcon('category')"  aria-hidden="true"></i>
    <div class="items-header"  (click)="toggleSection('category',$event)"> {{ 'By Category' }}
    </div>
    <div class="item-wrapper"  *ngIf="isSectionOpen('category')">
        <div class="item" *ngFor="let category of byCategory" (click)="onCategoryClick(category,$event)">
             <i class="fa fa-lightbulb-o"  aria-hidden="true"></i>
             <div class="item-name">{{category.name}}</div>
        </div>
    </div>
</div>


<!--<div>Rooms</div>
<div *ngFor="let location of byLocation">
    <div>{{location.name}}</div>
</div>    -->


