:host {
    background-color: rgb(18, 118, 149);
    color: #fff;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 250px;
    min-width: 250px;
/*    z-index: 9999;*/
    border-left: 1px white solid;

}
:host h3 {
    text-align: center;
    margin:5px 0px 0px 0px;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255,255,255,.5);
    border-bottom-style: solid;

} 
.tool-bar {
    background-color: rgba(255,255,255,.2);
    text-align: center;
    color:white;
}
:host .btn-toolbar {
    background-color: rgb(18, 118, 149);
    border-color: #2e6da4;
    color:white;
}
/*:host .btn-toolbar:hover {
    background-color: white;
    color:rgb(18, 118, 149);;
}*/

@media only screen and (max-width: 768px) {
    :host .btn-toolbar {
        font-size: 2em;
    }
}
ul {
    font-size: 18px;
    line-height: 3;
    font-weight: 400;
    list-style: none;
}

:host .list-group {
    background-color: rgb(18, 118, 149);
    border: none;
}
@media only screen and (max-width: 768px) {
    :host .list-group {
        font-size: 1.5em;
    }
}
:host .list-group-item {
    color: white;
    background-color: rgb(18, 118, 149);
    border:none;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

:host .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

:host .menu-items {
/*    display:inline-block;*/
    margin-left: 20px;
}
:host .item-wrapper {
/*    display:inline-block;*/
}

:host .items {
    margin-left: 20px;
}

:host .item {
    display:block;
    margin: 10px 5px 10px 20px;
}
:host .item-name {
    display:inline;
    margin-left:10px;
}

:host .items-header {
    display:inline-block;
}