svg {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}
.left, .shield {
  fill:#DD0031;
}
.right {
  fill:#C3002F;
}
.a {
  fill:#FFFFFF;
}
  #bg-sig path {
    fill: #000000;
  }
  
  #mask-sig path {
   fill:none;stroke:#fff;stroke-width:15;stroke-miterlimit:10;
  }
