<svg version="1.1" id="signature" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 viewBox="0 0 841.9 595.3"
     width="400px"
     preserveAspectRatio="none">
<style type="text/css">
	.st0{fill:#FFFFFF;}
</style>
<g id="bg-sig" mask="url(#mask)">
	
	<path d="M140.9,498.9c4.3-1.2,5,3.1,6.1,6.7c0.5,1.5,0.2,3.3,0.2,5c0,2.7,1.2,3.4,3.8,2.8c9.6-2.2,12-4.8,13.6-15.8
		c5.4,0.2,7.4,2.1,7.1,8.8c-0.2,5,1.8,5.4,6,5.8c8.5,0.8,14-4.4,20-8.6c0.8-0.5,0.8-2.9,0.4-4.1c-5.7-15.1-7.1-29.9,2.4-44.1
		c4.1-6.2,10.4-9.2,17.3-10.8c5.3-1.2,11.6,3.9,13.1,11.2c1,4.9,1.2,10.3,0.3,15.3c-2.3,12.6-7.8,23.7-17,32.5
		c12,12.2,27.9,6.8,42,9.3c-2.1,8.1-7.8,11.5-17.3,10.9c-10.2-0.7-19.9-3.5-28.2-9.6c-4.1-3-6.2-2.1-10.1,0.8
		c-7.5,5.6-15.5,12.2-26.1,9c-3.3-1-6-3.8-9-5.7c-11.7,9.7-13.3,9.9-24,1.9c-12.3,15.8-16.9,10.6-24.9,1.7
		c-7.4,3.9-14.5,7.9-21.8,11.4c-7.6,3.7-15.3,3.6-23.2,0.6c-16.2-6.3-24.4-19.1-26.6-35.2c-0.7-5.1,4.2-11.5,7.7-16.5
		c2.6-3.7,7-6.4,11-8.8c16.7-9.9,33-10,50.1,0.3c15.8,9.5,15.7,25.9,10.3,37.4c-1.3,2.8-1.8,4.9,0.9,6c1.6,0.6,5,0,5.9-1.2
		C134.3,510.6,137.2,505.1,140.9,498.9z M89.5,499.2c-1.3,0.2-2.4,0.8-3.4,0.6c-11.8-2.9-17.7,8.8-15.5,18.5c1,4.3,3.4,6.4,6.9,6.4
		c4.9,0.1,10.3,0.1,14.5-2c6.9-3.3,13.1-8.2,19.3-12.7c1.1-0.8,1.4-3.2,1.3-4.7c-0.4-4.8-1.3-9.5-1.9-14.3c-0.4-3.4,0.5-6,4.9-5.8
		c-4.8-6.2-10.9-9.6-17.8-10.4c-15.3-1.7-28.5,4-39.1,14.5c-10.3,10.3-8.2,23.3,4.4,30.9c0-4.4-0.6-8.6,0.2-12.5
		c0.8-4.4,2.2-8.9,4.6-12.7c2.7-4.3,7.9-5,12.5-4C84.3,491.9,89.1,492.6,89.5,499.2z M206.7,497.3c3.6-4.4,7.3-7.8,9.5-12
		c3.7-6.8,7-13.9,9.3-21.3c0.8-2.4-1.1-6.5-3.1-8.7c-1.1-1.3-5.2-1.1-7.2-0.2c-11.4,5.3-18.3,25.6-12.7,36.8
		C203.5,493.6,204.9,494.9,206.7,497.3z"/>
	<path d="M406,474.6c-8,7.4-5.2,16-4.8,24c-0.5,0.3-1.1,0.5-1.6,0.8c-1.9-2.9-3.9-5.8-5.7-8.6c-3.2,6.1-6.6,12.2-9.8,18.4
		c-6.3,12.3-26.2,16.9-36.3,7.7c-2.5-2.3-4.1-6.6-4.4-10.2c-0.7-8.9,1.7-17.4,6.9-24.8c0.8-1.1,2.6-1.4,4-2.1c0.6,1.3,1.8,2.7,1.7,4
		c-0.2,2.1-1.4,4-1.9,6.1c-1,3.8-2.3,7.6-2.5,11.5c-0.3,6.2,5.7,10.5,11.1,7.4c6.1-3.4,12.6-7.3,17.1-12.4c8.5-9.7,10-21.7,7.1-34.1
		c-3.9-17.2-13.7-30.7-28.8-39.2c-12.8-7.2-27.1-9.9-41.8-4.4c-7.3,2.7-9.3,1-8.5-7c0.1-0.8,0.3-1.6,0.3-1.6
		c6.7-2.5,13.3-3.9,18.8-7.3c13.3-8.3,18-23.8,6.2-36.9c-8-8.8-19.8-10.2-31.4-9.5c-12.3,0.7-24.5,2.7-35.3,8.8
		c-9.9,5.6-19.6,11.7-25.3,22.2c-2.7,5-2.4,9.8,0.6,14.6c0.9,1.4,1.2,3.1,1.7,4.7c-0.7,0.4-1.3,0.7-2,1.1c-1.8-3-4.2-5.8-5.2-9
		c-2.3-7.6,0.6-14.7,4.6-20.7c7.7-11.6,18.9-19.5,31.9-24.1c16.2-5.7,33-8.6,50.4-5.3c22.6,4.3,29.7,22.5,25.1,41.8
		c-1.5,6.1-4.3,11.9-6.5,18.1c13.7,3.7,26.7,10.7,37.3,21.8c10.8,11.2,15.9,24.9,17.1,39.2c5.7-4.3,11.6-9.6,18.3-13.4
		c8.4-4.7,18-4.9,26.9-1.4c6.1,2.4,10.1,7.6,11.6,14.4c1.5,6.7,3.8,13.4,0.1,19.9c-1.9,3.3-4.1,7.2-7.3,8.9
		c-6.9,3.7-13.8,7.1-22.3,7.2c-10.3,0.1-17.1-8-17.5-17.1C405.8,483.9,406,479.8,406,474.6z M420.3,479.2c-4.6,0.3-8.1-0.8-8.6,4
		c-0.6,5,2.7,9.4,8,9.7c8.5,0.5,16.3-1,23.3-6.6c5.2-4.1,7.1-13.7,2.1-18.1c-7.5-6.6-21.3-9.3-30.4-0.7
		C416.4,471.4,418.2,474.9,420.3,479.2z"/>
	<path d="M69.3,411c8.1-1,16.2-1.6,24.1-3.1c17.1-3.3,34.1-7.2,51.2-10.5c13.8-2.7,26.7-7.5,39-14c4.4-2.4,8.6-6.2,11.2-10.4
		c3.2-5.4,1-10.1-4.2-13.8c-11-7.8-23.5-11.7-36.2-15.3c-19.8-5.6-39.9-6-60.3-5.3c-13,0.4-25.2,3.6-37.6,6.8
		c-16.1,4.2-31.1,10.8-45.9,18.1c-11.9,5.9-23.1,12.9-32.9,21.6c-7.1,6.4-14.9,13-16.9,23.6c-1,5.5-0.4,10.6,3.1,14.3
		c8.5,9,17.5,17.5,26.5,25.9c6.8,6.4,14,12.3,21,18.5c0.6,0.6,0.8,1.7,1.2,2.8c-5.7,2.6-8.2-2.4-11.2-4.6
		c-7.1-5.3-13.6-11.5-20.4-17.2c-9.2-7.7-17.6-16.1-23.3-26.7c-4.3-7.9-3.4-16.4,0.5-24.4c8-16.7,21.3-28.7,37-37.3
		c14.5-7.9,29.9-14.9,45.7-19.7c28.4-8.7,57.8-12.8,87.6-11.1c16.6,1,33.1,3.4,48.4,10.3c9.4,4.2,17.1,10.6,22.9,19.2
		c5.9,9,4.2,18-3.4,25.2c-12.1,11.5-27,16.9-42.2,21.9c-17.9,5.9-36.3,9.4-55,11c-7,0.6-13.9,1.5-20.9,2.1
		C70.9,419.7,70.8,419.6,69.3,411z"/>
	<path d="M529.7,483.7c-4.8,7-14.8,11.1-21.8,2.5c-3.6,6.2-9.7,8.1-16,9.4c-10.9,2.1-20.7-2.8-25.2-13c-2.1-4.8-3.7-9.9-4.9-15.1
		c-1.5-6.1,0.7-12,4.3-13.7c5.1-2.4,11.3-0.5,15.6,5c1.9,2.4,4.5,4.8,2.2,8.4c-1.2,2-2.7,3-4.8,1.1c-0.4-0.3-0.7-0.8-1.1-1
		c-2.2-1-4.4-1.9-6.5-2.8c-0.4,2.8-1.6,5.8-1.2,8.5c1.6,9.8,19.9,15.1,26.9,8.4c4.3-4.1,7.7-7.7,7.1-14.1c-0.2-2.4-0.5-6.2,3.7-6.4
		c4.3-0.2,5,3.1,5.3,6.4c0.2,2.5,0.1,5,0.7,7.4c0.4,1.6,1.6,3.8,2.8,4.1c1.4,0.3,4-0.6,4.7-1.9c2.6-4.3,4.8-8.8,6.9-13.4
		c0.6-1.3,0.6-2.9,0.8-4.3c8.3,1.5,6,7.7,5.7,13.8c5-2.6,9.3-4.9,13.8-7c10.1-4.7,12-4.1,19.6,4.4c1.3,1.5,4.9,2.9,6.2,2.1
		c2.9-1.6,5.7-4.2,7.2-7.1c1.4-2.8,0.7-6.6,1.7-9.7c2.7-7.9,9.8-10.7,17-12.8c4.5-1.3,9.7,5.1,8.1,10.4c-1.5,4.9-4.6,9.2-7,13.8
		c-0.4,0.7-1,1.3-2.5,3.3c7.4,1.3,13.8,2.6,20.3,3.4c6.1,0.8,12.3,0.6,18.4,1.6c2.4,0.4,5,2.4,6.6,4.4c2.7,3.5,0,8.2-4.4,7.8
		c-17-1.7-34.2-1.8-50.3-8.7c-2.3-1-6.2,1.6-9.3,2.8c-3.5,1.3-6.9,3-10.4,4.3c-3.8,1.5-5.1-0.7-5.6-4c-1.3-9-4.5-10.5-12-5.5
		c-3.3,2.2-6.9,4.1-9.9,6.7C538,486.9,534,486.8,529.7,483.7z M589.4,461.9c0.5,0.5,1,0.9,1.5,1.4c2.6-2.4,5.1-4.9,7.7-7.3
		c-0.6-0.6-1.2-1.2-1.8-1.8C594.3,456.8,591.9,459.3,589.4,461.9z"/>
	<path d="M276.1,396.1c5.6,0.3,6.9,2.9,7.3,7.2c2,21,4.2,42,6.6,62.9c0.7,5.9,2.3,11.7,4.1,17.4c2.1,6.7,4.6,13.4,7.5,19.8
		c3.6,7.7,7.2,8.7,15.1,5.4c1.5-0.6,3.8,0.4,5.7,0.6c-1.1,2.8-1.4,6.7-3.4,8.3c-5.1,4-13.4,2.6-18.1-1.9
		c-7.7-7.2-10.8-16.9-13.7-26.4c-5.3-17.5-9.4-35.2-10.2-53.6c-0.5-10.1-1.4-20.2-1.9-30.3C275,402.5,275.8,399.4,276.1,396.1z"/>
	<path d="M32.5,381.4c5.4,0,5.9,3.2,5.9,7.1c-0.2,23-0.9,45.9-0.3,68.9c0.4,13.7,2.3,27.5,4.5,41c1.7,10.4,4.9,20.5,7.3,30.8
		c0.3,1.3-0.6,3.7-1.6,4.1c-1.2,0.5-3.4-0.2-4.5-1.2c-7-5.9-7.6-14.7-8.7-22.6c-2.2-16.9-3.7-34-4-51.1c-0.4-24.9,0.5-49.9,0.8-74.8
		C32.1,382.9,32.3,382.2,32.5,381.4z"/>
</g>
  <defs>
    <mask id="mask">
<g id="mask-sig" #sig>
	<path class="st1" d="M34.7,385.9c-4.2,46.5-1.1,93.7,9.2,139.2"/>
	<path class="st1" d="M9.5,467c-9.7-10.7-22.9-17.6-33.8-27.1s-19.8-23.7-16.5-37.8c2.5-10.9,11.7-18.8,20.8-25.3
		c29-20.8,62.7-35.2,97.9-40.6s72-1.8,105.1,11.3c8.5,3.4,17.9,8.8,19,17.9c1.1,8.6-5.9,16-12.8,21.1c-16.4,12-36,19.1-55.9,23.3
		s-40.3,5.4-60.6,6.7"/>
	<path class="st1" d="M86.7,496c-3-3.2-8.4-3.4-12.2-1.2c-3.8,2.2-6.2,6.4-7,10.7c-0.9,4.3-0.4,8.8,0.2,13.1
		c0.5,3.4,1.4,7.2,4.2,9.3c2.6,1.9,6.2,1.8,9.5,1.5c10.9-1.2,22.1-4.2,30.5-11.3c8.4-7.1,13.5-18.9,10.3-29.4
		c-2.2-7.3-8.1-13.1-15-16.4c-6.9-3.3-14.7-4.2-22.3-3.9c-10.1,0.4-20.5,3.1-28.2,9.6s-12.2,17.5-9.2,27.1c3,9.5,12,15.6,20.4,21"/>
	<path class="st1" d="M115.5,491.2c1,7.9,2.7,15.8,4.9,23.4c0.8,2.7,1.7,5.4,3.7,7.3c4.2,3.8,11.2,2,14.9-2.3
		c3.7-4.2,4.9-10,5.9-15.5c-3.2,4-1.3,10.6,3.1,13.2s10.4,1.4,14.2-2c3.8-3.4,5.7-8.6,6-13.7c-3,4.4-1.3,10.8,2.8,14.2
		s10,3.8,15.1,2.5c5.1-1.4,9.6-4.4,13.8-7.6c8.5-6.5,16.4-14.2,21.8-23.5c5.4-9.3,8.1-20.4,6.2-31c-0.4-1.9-0.9-3.9-2.1-5.5
		c-1.9-2.5-5.4-3.6-8.6-3.3s-6.1,2-8.5,4c-8.3,6.8-12,18.5-10.3,29.1c1.7,10.6,8.4,20.1,17.3,26.3s19.7,9.1,30.4,9.6"/>
	<path class="st1" d="M280,402.1c0.9,22,3.1,43.9,6.5,65.6c2.1,13.3,4.7,26.9,11.7,38.4c2,3.3,4.5,6.5,8,8.2
		c3.5,1.7,8.2,1.4,10.7-1.6"/>
	<path class="st1" d="M241.7,406.5c-4.4-5.2-4.6-13.1-1.8-19.3s7.9-11.1,13.3-15.2c14.9-11.3,33.2-18.1,51.8-19.4
		c7.7-0.5,15.7-0.1,22.9,2.6c7.3,2.7,13.8,8,16.9,15.1c4,9.4,1.3,20.9-5.3,28.8c-6.6,7.9-16.4,12.6-26.4,14.7
		c18.7-4.3,39.3,0.2,54.6,11.9s25,30.4,25.7,49.6c0.3,7.9-0.9,16.1-5.2,22.8c-3.6,5.6-9.1,9.6-14.5,13.6c-4.3,3.2-9.3,6.5-14.6,5.7
		c-6.2-1-10.3-7.7-10.4-14c-0.2-6.3,2.5-12.3,5.2-18"/>
	<path class="st1" d="M399.3,492.1c-2.6-7.1-1.5-15.2,2.5-21.6s10.5-11,17.8-13c7.9-2.2,17-1.2,23.6,3.7s10.3,13.9,7.9,21.8
		c-1.4,4.7-4.8,8.7-8.9,11.5s-8.8,4.5-13.5,5.7c-4.7,1.2-10,1.9-14.1-0.7c-4.2-2.6-5.8-7.8-6.5-12.7c-0.6-4.6-0.3-10,3.3-12.9"/>
	<path class="st1" d="M481.3,464.5c-2.2-3.2-5.2-6.8-9.1-6.7c-4.5,0.1-7.2,5.1-7.7,9.5c-0.9,8.5,3.7,17.3,11.2,21.4
		c7.5,4.1,17.4,3.4,24.1-1.8c6.7-5.2,9.9-14.6,7.8-22.9c-0.8,5.1-0.1,10.4,2,15.1c1.2,2.8,3.1,5.6,6,6.8c5,2.1,10.9-1.5,13.2-6.4
		c2.3-4.9,2-10.5,1.6-15.9c-3.4,4.5-2.4,11.7,2.1,15.1c4.5,3.4,11.6,2.5,15.1-1.9c1.7-2.2,2.6-4.9,4.3-7s5.1-3.5,7.2-1.7
		c1.7,1.4,1.7,3.9,2.7,5.8c1.2,2.4,3.9,3.7,6.6,4c2.7,0.2,5.3-0.4,7.9-1.3c6.5-2.1,12.8-5.3,18.4-9.3c4-2.8,7.8-6.4,9-11.1
		c1.2-4.7-1.5-10.6-6.4-11.2c-3.1-0.4-6.1,1.5-7.8,4c-1.8,2.5-2.5,5.6-2.9,8.7c-0.5,3.4-0.6,7.2,1.4,10.1c2.1,3,5.8,4.1,9.3,5.1
		c13.8,3.8,27.9,6.9,42,9.2"/>
</g>
    </mask>
  </defs>
</svg>
