/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en';

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

md-toolbar-row {
    justify-content: space-between;
}

p {
    margin: 16px;
}

[md-raised-button] {
    width: 100%;
}

md-grid-list {
    max-width: 1403px;
    margin: 16px;
}

md-sidenav-layout {
    height: 100vh;
}

md-sidenav {
    width: 320px;
}

.icon-20 {
    font-size: 20px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*#light-color {
    fill:blue;   
}
@keyframes oscillate-enlarge {
    from { transform: scale(1) }
    to { transform: scale(8)}
}

@keyframes oscillate-reduce {
    from { transform: scale(1) }
    to { transform: scale(0.125)}
}
.group {
    animation: oscillate-enlarge 3s ease-in-out 0s infinite alternate;
    transform-origin: 125px 115px;
}
#light-color {
    animation: oscillate-reduce 3.1s ease-in-out 0s infinite alternate;
    transform-origin: 125px 115px;
}
.light > #light-color {
    fill:red;
}*/

/*** SVG demonstration ***/

/* page */

