.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

html, body, material-app, md-sidenav-container, .my-content {
    margin: 0;
    width: 100%;
    height: 100%;
}
.my-content {
    background-color:lightblue;
}
.example-fill-remaining-space {
    flex: 1 1 auto;
}

example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('../../../assets/b-circle-trans-100.png');
  background-size: cover;
}
.example-selected-value {
  margin: 15px 0;
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
.hamburger {
    display: block;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 64px;
    height: 64px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
}


.hamburger span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: #1a2580;
}

.hamburger span::before,
.hamburger span::after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #1a2580;
    content: "";
}

.hamburger span::before {
    top: -20px;
}

.hamburger span::after {
    bottom: -20px;
}

.hamburger.align-left {
    top:0;
    left:0;
}
a.align-left {
    position:fixed;
    top:5px;
    left:10px;
    font-size:32px;
    color:white;
}
a.align-right {
    position:fixed;
    top:5px;
    right:10px;
    font-size:32px;
    color:white;
}
.main-header {
    position:fixed;
    top:0;
    left:0;
    background-color: rgb(18, 118, 149);
    width:100%;    
    height:50px;
    color:white;
    vertical-align: middle;
    border-bottom: 1px solid white;
}
.main-header-bar {
    width:100%;
    text-align: center;

}
.main-header h1{
    margin:5px 0px 0px 0px;
}

.main-content {
    position:fixed;
    top:50px;
    left:0;
    background-color: gainsboro;
    padding:5px;
    width:100%;
    height:100%;
}
.loggedinuser {
    color: white;
    top: 16px;
    position: absolute;
    right: 150px;
    font-size: 0.8em;
}