<md-toolbar color="primary">
    <span>Application Title</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span>Right Aligned Text</span>
</md-toolbar>

<button md-button [mdMenuTriggerFor]="menu">Menu</button>
<!--<md-menu #menu="mdMenu">
  <button md-menu-item>Item 1</button>
  <button md-menu-item>Item 2</button>
</md-menu>-->

<md-menu #menu="mdMenu">
    <button md-menu-item>
        <md-icon> dialpad </md-icon>
        <span> Redial </span>
    </button>
    <button md-menu-item disabled>
        <md-icon> voicemail </md-icon>
        <span> Check voicemail </span>
    </button>
    <button md-menu-item>
        <md-icon> notifications_off </md-icon>
        <span> Disable alerts </span>
    </button>
</md-menu>


<!--<md-sidenav-container class="example-container">
    <md-sidenav #sidenav class="example-sidenav">
        Jolly good!
    </md-sidenav>

    <div class="example-sidenav-content">
        <button md-button (click)="sidenav.open()">
                Open sidenav
    </button>
</div>

</md-sidenav-container>-->

<md-sidenav-container >
    <md-sidenav #sidenav  mode="push" opened="false" class="example-sidenav">Drawer content</md-sidenav>
    <button md-button (click)="sidenav.open()">Open sidenav</button>
    <div class="my-content">Main content</div>
</md-sidenav-container>


<md-checkbox>Check me!</md-checkbox>

<md-input-container>
    <input mdInput placeholder="Favorite food" value="Sushi">
</md-input-container>

<md-select placeholder="Favorite food">
    <md-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
</md-option>
</md-select>

<md-slide-toggle>Slide me!</md-slide-toggle>

<md-slider min="1" max="5" step="0.5" value="1.5"></md-slider>
<md-slider vertical></md-slider>
<md-slider invert></md-slider>

<md-slider thumbLabel tickInterval="1"></md-slider>
<md-slider step="4" tickInterval="3"></md-slider>
<md-slider tickInterval="auto"></md-slider>

<div>group</div>
<md-button-toggle-group #group="mdButtonToggleGroup">
    <md-button-toggle value="left">
        <md-icon>format_align_left</md-icon>
    </md-button-toggle>
    <md-button-toggle value="center">
        <md-icon>format_align_center</md-icon>
    </md-button-toggle>
    <md-button-toggle value="right">
        <md-icon>format_align_right</md-icon>
    </md-button-toggle>
    <md-button-toggle value="justify" disabled>
        <md-icon>format_align_justify</md-icon>
    </md-button-toggle>
</md-button-toggle-group>
<div class="example-selected-value">Selected value: {{group.value}}</div>


<div>Lists</div>
<md-list>
    <h3 md-subheader>Folders</h3>
    <md-list-item *ngFor="let folder of folders">
        <md-icon md-list-icon>folder</md-icon>
        <h4 md-line>{{folder.name}}</h4>
        <p md-line class="demo-2"> {{folder.updated}} </p>
    </md-list-item>
    <md-divider></md-divider>
    <h3 md-subheader>Notes</h3>
    <md-list-item *ngFor="let note of notes">
        <md-icon md-list-icon>note</md-icon>
        <h4 md-line>{{note.name}}</h4>
        <p md-line class="demo-2"> {{note.updated}} </p>
    </md-list-item>
</md-list>

<div>Grid</div>
<md-grid-list cols="4" rowHeight="100px">
    <md-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        {{tile.text}}
</md-grid-tile>
</md-grid-list>

<div>Card</div>
<md-card class="example-card">
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="/assets/b-circle-trans-100.png">
    <md-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </p>
    </md-card-content>
    <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
    </md-card-actions>
</md-card>

<!--<div>progress</div>
<md-card>
    <md-card-content>
        <h2 class="example-h2">Progress spinner configuration</h2>

        <section class="example-section">
            <label class="example-margin">Color:</label>
            <md-radio-group [(ngModel)]="color">
                <md-radio-button class="example-margin" value="primary">
                    Primary
                </md-radio-button>
                <md-radio-button class="example-margin" value="accent">
                    Accent
                </md-radio-button>
                <md-radio-button class="example-margin" value="warn">
                    Warn
                </md-radio-button>
            </md-radio-group>
        </section>

        <section class="example-section">
            <label class="example-margin">Mode:</label>
            <md-radio-group [(ngModel)]="mode">
                <md-radio-button class="example-margin" value="determinate">
                    Determinate
                </md-radio-button>
                <md-radio-button class="example-margin" value="indeterminate">
                    Indeterminate
                </md-radio-button>
            </md-radio-group>
        </section>

        <section class="example-section" *ngIf="mode == 'determinate'">
            <label class="example-margin">Progress:</label>
            <md-slider class="example-margin" [(ngModel)]="value"></md-slider>
        </section>
    </md-card-content>
</md-card>
<md-card>
    <md-card-content>
        <h2 class="example-h2">Result</h2>

        <md-progress-spinner
            class="example-margin"
            [attr.color]="color"
            [mode]="mode"
            [value]="value">
        </md-progress-spinner>
    </md-card-content>
</md-card>-->
