<div class="main-layout">

    <div class="main-header" >
        <div class="main-header-bar" (click)="closeAllMenus()">
            <h1>Blast! IOT</h1>
        </div>
        <a class="btn  btn-lg btn-danger" href="#" (click)="toggleLeftMenu()"  class="align-left">
            <i class="fa fa-bars "></i></a>
        <a class="btn " href="#" (click)="toggleRightMenu()"  class="align-right">
            <i class="fa fa-cog "></i></a>
    </div>
    <div [@mainContent]="menuLeftState"  class="main-content" (click)="closeAllMenus()">
        <ui-view></ui-view>
    </div>

</div>
<left-menu  [@slideLeftInOut]="menuLeftState"></left-menu>
<right-menu [@slideRightInOut]="menuRightState"></right-menu>


