<!--<svg:svg  class="switch" (click)="onSwitchClick()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="100" height="100"  viewBox="0 0 64 64" style="enable-background:new 0 0 64 64">-->
<div [ngStyle]="{width: width+'px',height: height+'px'}">
    <svg:svg  class="switch" (click)="change.emit(status)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="100%" height="100%"  viewBox="0 0 64 64" style="enable-background:new 0 0 64 64">
        <svg:defs>
            <svg:linearGradient id="1" gradientUnits="userSpaceOnUse" y1="15" x2="0" y2="49">
                <svg:stop style="stop-color:#4e493f"/>
                <svg:stop offset=".7677" style="stop-color:#3b3732"/>
            </svg:linearGradient>

            <svg:linearGradient id="2" gradientUnits="userSpaceOnUse" x1="49.2525" y1="42.1721" x2="14.2475" y2="21.9619">
                <svg:stop style="stop-color:#f8f5e5"/>
                <svg:stop offset="1" style="stop-color:#cac7b9"/>
            </svg:linearGradient>

            <!-- on -->  
            <svg:linearGradient id="0" gradientUnits="userSpaceOnUse" x1="54.364" y1="9.636" x2="9.636" y2="54.364">
                <svg:stop style="stop-color:#f8f5e5"/>
                <svg:stop offset="1" style="stop-color:green"/>
            </svg:linearGradient>

            <!-- off -->  
            <svg:linearGradient id="100" gradientUnits="userSpaceOnUse" x1="54.364" y1="9.636" x2="9.636" y2="54.364">
                <svg:stop style="stop-color:#f8f5e5"/>
                <svg:stop offset="1" style="stop-color:red"/>
            </svg:linearGradient>

        </svg:defs>

        <!-- on -->  
        <svg:g [@switchOn]="status">
            <svg:path d="m16 7h32c4.97 0 9 4.03 9 9v32c0 4.97-4.03 9-9 9h-32c-4.97 0-9-4.03-9-9v-32c0-4.97 4.03-9 9-9z" style="fill:url(#0);stroke-miterlimit:10;stroke:#7c715e;stroke-width:.25"/>
            <svg:path d="m44 49h-24c-2.76 0-5-2.24-5-5v-24c0-2.76 2.24-5 5-5h24c2.76 0 5 2.24 5 5v24c0 2.76-2.24 5-5 5" style="fill:url(#1)"/>
            <svg:path d="m20 17h24c2.76 0 5 2.24 5 5l-1 21c0 2.76-2.24 5-5 5h-22c-2.76 0-5-2.24-5-5l-1-21c0-2.76 2.24-5 5-5z" style="fill:url(#2);stroke-miterlimit:10;stroke:#7c715e;stroke-width:.25"/>
        </svg:g>
        <!-- off -->  
        <svg:g [@switchOff]="status">
            <svg:path d="m48 57h-32c-4.97 0-9-4.03-9-9v-32c0-4.97 4.03-9 9-9h32c4.97 0 9 4.03 9 9v32c0 4.97-4.03 9-9 9z" style="fill:url(#100);stroke-miterlimit:10;stroke:#7c715e;stroke-width:.25"/>
            <svg:path d="m44 49h-24c-2.76 0-5-2.24-5-5v-24c0-2.76 2.24-5 5-5h24c2.76 0 5 2.24 5 5v24c0 2.76-2.24 5-5 5" style="fill:url(#1)"/>
            <svg:path d="m44 47h-24c-2.76 0-5-2.24-5-5l1-21c0-2.76 2.24-5 5-5h22c2.76 0 5 2.24 5 5l1 21c0 2.76-2.24 5-5 5z" style="fill:url(#2);stroke-miterlimit:10;stroke:#7c715e;stroke-width:.25"/>
        </svg:g>

    </svg:svg>
</div>