.wrapper {
    display: inline;
}
.light {
/*    background-color: beige;*/
    display: inline-block;
}
.switch-wrapper {
    display:inline;
}
.switch {
/*    background-color: lavender;*/
    display: inline-block;
}
