<md-sidenav-container [class.m2app-dark]="isDarkTheme">

    <md-sidenav #sidenav mode="push" class="app-sidenav">
        <left-menu></left-menu>
    </md-sidenav>

    <md-toolbar color="primary">
        <span class="logo">
            <img src="assets/b-circle-trans-100.png" alt="logo" width="50" height="46" >
        </span>
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>

        <span>Blast! IOT</span>
        <span class="app-toolbar-filler"></span>
        <!-- a connection status traffic light -->
        <div class="trafficlight">
            <!--            <div class="heading">Connection Status: </div>-->
            <div class="light red" id="trafficlight"></div>
        </div>

    </md-toolbar>

    <div class="app-content">
        <!-- main content here -->
        <light></light>
        <ui-view></ui-view>
    </div>

</md-sidenav-container>
