md-sidenav-layout.m2app-dark {
  background: black;
}

.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

:host .trafficlight{
    display:inline;
    float:right;
    margin-right:20px;
    margin-top:10px;
}
:host .trafficlight .heading{
    color: rgb(18, 118, 149);
    vertical-align: middle;
    display:inline-block;
    height:40px;
}

:host .light{
    display:inline-block;
    background-size: 5px 5px; 
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

:host .red{
    background: red;
    background-image: radial-gradient(brown, transparent);
    border: dotted 2px orange;
    box-shadow: 
        0 0 5px #111 inset,
        0 0 2px red;
}

:host .yellow{
    background: yellow;
    background-image: radial-gradient(orange, transparent);
    border: dotted 2px yellow;
    box-shadow: 
        0 0 5px #111 inset,
        0 0 2px yellow;
}

:host .green{
    background: green;
    background-image: radial-gradient(lime, transparent);
    border: dotted 2px lime;
    box-shadow: 
        0 0 5px #111 inset,
        0 0 2px lime;
}