<h3>Settings</h3>
<div class="tool-bar">
    <div class="btn-group">
        <a class="btn  btn-toolbar" href="#" (click)="logout()">
            <i class="fa fa-sign-out" title="Logout"></i>
        </a>
<!--        <a class="btn btn-toolbar" href="#">
            <i class="fa fa-align-center" title="Align Center"></i>
        </a>
        <a class="btn btn-toolbar" href="#">
            <i class="fa fa-align-right" title="Align Right"></i>
        </a>
        <a class="btn btn-toolbar" href="#">
            <i class="fa fa-align-justify" title="Align Justify"></i>
        </a>-->
    </div>
</div>
<!--<div class="list-group">
  <a class="list-group-item" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
  <a class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Library</a>
  <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Applications</a>
  <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a>
</div>-->
