<div *ngIf="data !== undefined && data.data !== undefined" >
    <div>
        <div>Location: {{data.data.forecastContent.location.locationName}},{{data.data.forecastContent.location.country}}
    </div>
    <div *ngFor="let forecast of data.data.forecastContent.forecasts" >
        <div>
            <div>Day: {{forecast.dayName}} Time: {{forecast.timeSlot}}</div>
            <div>Temperature: {{forecast.temperature.centigrade}} Visibility {{forecast.visibility}}</div>
            <div>Weather: {{forecast.weatherType}}</div>
            <div>Wind {{forecast.weatherType}}</div>
            <img src="{{forecast.weatherSymbol.webMedium}}">
        </div>
    </div>
</div>
